doctype html 
html 
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel="stylesheet", href="/bootstrap/css/starter-template.css")
        link(rel='canonical', href="https://getbootstrap.com/docs/4.4/examples/starter-template/")
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
            div.navbar-brand Database node 
        h1 
            a(href='/topic') Server Side JavaScript
        h3 Detail
        article.card.border-primary
            if details
                each detail in details 
                    h2.card-header= detail.title
                    div.card-body
                        p.card-text=detail.description 
                        a(href='/topic/create').card-link create
                        a(href='/topic/update/' + detail.id).card-link update
                        a(href='/topic/delete/' + detail.id).card-link delete
            else
                h2.card-header welcome
                div.card-body
                    p.card-text This is server side javascript tutorial
                    a(href='/topic/create').card-link create
