doctype html 
html 
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel="stylesheet", href="/bootstrap/css/starter-template.css")
        link(rel='canonical', href="https://getbootstrap.com/docs/4.4/examples/starter-template/")
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
            div.navbar-brand Database node 


        h1 
            a(href='/topic') Server Side JavaScript
        ul.list-group 
            each topic in topics 
                if details
                    each detail in details
                        if detail.id == topic.id
                            a(href='/topic/'+topic.id).list-group-item.list-group-item-action.active= topic.title
                        else
                            a(href='/topic/'+topic.id).list-group-item.list-group-item-action= topic.title
                else
                    a(href='/topic/'+topic.id).list-group-item.list-group-item-action= topic.title
        div
            form(action='/topic')
             -for(var i=1; i <=totalCnt; i++){
                    input(type='submit' name='nowPage' value=i) 
             -}
            //-include pagination.jade
        article.card.border-primary
            h2.card-header welcome
            div.card-body
                p.card-text This is server side javascript tutorial
                a(href='/topic/create').card-link create
