
-// example pagination object
- var p = {current: nowPage, total: totalCnt}
-// actual template
nav(aria-label="Page navigation example")
  ul.pagination.justify-content-center
    - if(p.current > 1)
      li.page-item
        a.page-link(href='/topic/sort') &lt;&lt;
      li.page-item
        a.page-link(href='/topic/sort?nowPage=' + (p.current-1)) &lt;
    - else
      li.page-item.disabled
        a.page-link &lt;&lt;
      li.page-item.disabled
        a.page-link &lt;
    - var j = 2;
    - var k = 2;
    - if(p.current == 1 ){ j = 4 }
    - else if(p.current == 2){ j = 3 }
    - else if((p.current + 1) > p.total ){ k = 4 }
    - else if((p.current + 2) > p.total ){ k = 3 }
    - for(var i = p.current-k; i <= p.current + j; i++)
      - if (i <= p.total && i > 0)
        - if (i !== p.current)
          li.page-item
            a.page-link(href='/topic/sort?nowPage=' + i) #{i} 
        - else
          li.page-item.active
            a.page-link #{i}
    - if(p.current < p.total)
      li.page-item
        a.page-link(href='/topic/sort?nowPage=' + (p.current+1)) &gt;
      li.page-item
        a.page-link(href='/topic/sort?nowPage=' + p.total) &gt;&gt;
    - else
      li.page-item.disabled
        a.page-link &gt;
      li.page-item.disabled
        a.page-link &gt;&gt;